# .NET build artifacts
bin/
obj/
out/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
.nuget/

# Local SQLite databases created by running sample projects
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
